@media screen and (max-width: 480px) {
    /* ----- PURPLE PORTION ----- */
    html {
        height: 100%;
    }
    .body {
        display: flex;
        flex-direction: column;
        background: linear-gradient(rgb(73, 138, 220), rgb(98, 59, 156)) fixed;
        overflow: hidden;
    }
    .purple_display {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 15%;
        align-items: center;
    }
    .left_purple {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title_block {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10%;
    }
    span {
        display: block;
    }
    #title {
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        font-weight: 500;
        font-size: 30pt;
        margin-bottom: 7%;
    }
    #subtitle {
        font-family: 'IBM Plex Sans', sans-serif;
        color: rgb(49, 49, 147);
        font-size: 13.5pt;
        font-weight: 500;
    }
    .input_block {
        display: flex;
        flex-direction: column;
    }
    #forecast_for {
        font-size: 22pt;
        font-weight: 500;
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
    }
    .field_and_button {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }
    #text_field {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        color: white;
        font-size: 20pt;
        background-color: rgb(45, 49, 146);
        border: none;
        outline: none;
        padding-left: 10%;
        width: 100%;
    }
    #btnSubmit {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
        font-size: 16pt;
        color: white;
        background-color: rgb(126, 137, 203);
        border: none;
        cursor: pointer;
        outline: none;
        padding-left: 5%;
        padding-right: 5%;
    }
    #current {
        font-family: 'Saira Extra Condensed', sans-serif;
        color: white;
        font-size: 35pt;
    }
    #current_time {
        font-family: 'Saira Extra Condensed', sans-serif;
        color: white;
        font-size: 35pt;
    }
    #hr_purple {
        border-color: black;
        margin-left: 10%;
        margin-right: 10%;
    }
    #current_temp {
        font-family: 'Saira Extra Condensed', sans-serif;
        color: white;
        font-size: 85pt;
    }
    .time_purple_web {
        display: none;
    }
    .time_and_temp {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #current_img {
        width: 100%;
        height: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .time_purple {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #current {
        margin-bottom: 2%;
    }
    #top1 {
        display: none;
    }
    #top2 {
        display: none;
    }
    #top3 {
        display: none;
    }
    .right_purple {
        display: none;
    }
    #up_arrow {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }
    #up_arrow_pic {
        width: 10%;
        height: 10%;
        -webkit-filter: invert(100%);
    }
    .open {
        animation-duration: 1s;
        animation-name: open;
        animation-fill-mode: forwards;
    }
    .closed {
        animation-duration: 1s;
        animation-name: closed;
        /* animation-fill-mode: forwards; */
    }
    @keyframes open {
        from {
            top: 100%;
        }
        to {
            top: 0%;
        }
    }
    @keyframes closed {
        from {
            top: 0%;
        }
        to {
            top: 100%;
        }
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding-bottom: 2%;
    }
    #down_arrow {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding-top: 2%;
        padding-bottom: 0px;
    }
    #down_arrow_pic {
        width: 10%;
        height: 10%;
        transform: rotate(180deg);
    }
    .white_display {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .slider {
        background-color: white;
        height: 100vh;
        width: 100vw;
    }
    .days {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Saira Extra Condensed', sans-serif;
        padding-top: 4.25%;
        padding-bottom: 4.25%;
        padding-right: 7%;
        padding-left: 7%;
        border-bottom: 1px solid gray;
        height: 100px;
        overflow: hidden;
    }
    .five_day img {
        width: 35%;
    }
    .current_time_class {
        font-size: 30px;
        font-weight: 100;
    }
    .current_temp_class {
        font-size: 70px;
        font-weight: 400;
    }
    #d1_weather, #d2_weather, #d3_weather, #d4_weather, #d5_weather {
        padding-left: 20px;
        padding-top: 20px;
    }
    #day1, #day2, #day3, #day4, #day5 {
        padding-left: 70px;
        margin-left: 50px;
    }
    #d1_time, #d2_time, #d3_time, #d4_time, #d5_time {
        padding-top: 35px;
        padding-left: 20px;
        margin-right: -80px;
    }
    #d5 {
        border: none;
    }
    .web {
        display: hidden;
    }
}

/* tablet view */

@media screen and (min-width: 481px) and (max-width: 850px) {
    html {
        height: 100%;
        overflow: hidden;
    }
    .body {
        display: flex;
        flex-direction: column;
        font-family: 'IBM Plex Sans Medium', sans-serif;
        overflow: hidden;
    }
    .purple_display {
        display: flex;
        flex-direction: row;
        padding: 5% 5% 0% 5%;
        background: pink;
    }
    .left_purple {
        display: flex;
        flex-direction: column;
    }
    .title_block {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10%;
        width: 100%;
    }
    span {
        display: block;
    }
    #title {
        color: white;
        font-size: 45px;
        font-weight: 400;
        padding-bottom: 15px;
        align-self: center;
    }
    #subtitle {
        color: rgb(49, 49, 147);
        font-size: 37px;
        font-weight: 400;
        padding-bottom: 20px;
        align-self: center;
    }
    .input_block {
        display: flex;
        flex-direction: row;
        flex-basis: 10%;
        flex-wrap: wrap;
        color: white;
        font-size: 2vw;
        padding-bottom: 15px;
        white-space: nowrap;
        text-align: center;
    }
    #forecast_for {
        margin: auto;
        margin-right: 0;
        margin-left: 5%;
        margin-top: -0.25%;
        padding-top: 8px;
        padding-right: 2%;
        font-size: 22px;
        font-weight: 400;
        white-space: nowrap;
    }
    #text_field {
        margin: auto;
        width: 75%;
        height: 64%;
        background-color: rgb(49, 49, 147);
        font-size: 20pt;
        color: white;
        border: none;
        font-weight: 300;
        padding-left: 5%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    input:focus {
        outline-width: 0;
    }
    #btnSubmit {
        margin: auto;
        font-family: 'IBM Plex Sans', sans-serif;
        background-color: rgb(73, 138, 220);
        color: white;
        font-size: 16pt;
        font-weight: 500;
        border: none;
        height: 64%;
        padding: 20px;
        margin: -3px 20px 0px 10px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        line-height: 10%;
        padding-right: 5%;
    }
    .current_forecast {
        font-family: 'Saira Extra Condensed', sans-serif;
        display: flex;
        flex-direction: column;
        color: white;
        font-weight: 100;
        padding-bottom: 50px;
    }
    .time_purple_web {
        display: none;
    }
    #current_img {
        width: 30%;
        padding-left: 50px;
    }
    #current_temp {
        flex-basis: 5%;
        padding-top: 20%;
        padding-right: 15%;
        font-size: 6vw;
        text-align: center;
    }
    .time_purple {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hr_purple {
        border-color: black;
        margin-left: 10%;
        margin-right: 10%;
    }
    .right_purple {
        display: none;
    }
    .right_purple img {
        width: 25%;
    }
    #top1 {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    #top2 {
        border-radius: 50%;
        position: absolute;
        z-index: 2;
    }
    #top3 {
        position: relative;
        z-index: 3;
    }
    .white_display {
        display: flex;
        flex-direction: column;
        position: relative;
        font-family: 'Saira Extra Condensed', sans-serif;
        align-items: center;
        background: linear-gradient(to top, white 85%, gray 100%);
        height: 400px;
    }
    .five_day {
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        padding-top: 20px;
    }
    .five_day img {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 55%;
    }
    .days {
        padding-left: 50px;
        padding-right: 60px;
        border-left: 1px solid gray;
    }
    #d1 {
        border: none;
    }
    .current_time_class {
        font-size: 25px;
    }
    .current_temp_class {
        font-size: 75px;
    }
    #current, #current_time {
        font-size: 35px;
    }
    #current_temp {
        font-size: 85px;
    }
    .time_purple_web {
        font-size: 35px;
    }
    .time_and_temp {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #down_arrow {
        display: none;
    }
    footer {
        display: none;
    }
}

/* Web view */

@media screen and (min-width: 851px) {
    html {
        height: 100%;
        overflow: hidden;
    }
    .body {
        display: flex;
        flex-direction: column;
        font-family: 'IBM Plex Sans Medium', sans-serif;
        overflow: hidden;
    }
    .purple_display {
        display: flex;
        flex-direction: row;
        padding-left: 90px;
        padding-top: 40px;
        padding-right: 0px;
        background: linear-gradient(to bottom, rgb(73, 138, 220) 10%, rgb(98, 59, 156) 80%);
    }
    .left_purple {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
    }
    #title {
        color: white;
        font-size: 45px;
        font-weight: 400;
        padding-bottom: 15px;
        white-space: nowrap;
    }
    #subtitle {
        color: rgb(49, 49, 147);
        font-size: 33px;
        font-weight: 400;
        padding-bottom: 35px;
    }
    .input_block {
        display: flex;
        flex-direction: row;
        flex-basis: 10%;
        flex-wrap: wrap;
        color: white;
        font-size: 2vw;
        padding-bottom: 15px;
        white-space: nowrap;
    }
    #forecast_for {
        font-size: 22px;
        padding-top: 8px;
        padding-right: 20px;
    }
    .field_and_button {
        flex-basis: 60%;
    }
    #text_field {
        width: 60%;
        height: 64%;
        background-color: rgb(49, 49, 147);
        font-size: 20pt;
        color: white;
        border: none;
        font-weight: 300;
        padding-left: 6%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    input:focus {
        outline-width: 0;
    }
    #btnSubmit {
        font-family: 'IBM Plex Sans', sans-serif;
        background-color: rgb(73, 138, 220);
        color: white;
        font-size: 16pt;
        font-weight: 500;
        border: none;
        height: 30px;
        padding: 20px;
        margin: -3px 20px 0px 10px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        line-height: 10%;
        padding-right: 5%;
    }
    .current_forecast {
        font-family: 'Saira Extra Condensed', sans-serif;
        display: flex;
        flex-direction: row;
        color: white;
        font-weight: 100;
        padding-bottom: 50px;
    }
    .time_purple_web {
        padding-left: 10%;
        padding-top: 30px;
        text-align: center;
    }
    #current_img {
        width: 30%;
        padding-left: 50px;
    }
    #current_temp {
        flex-basis: 5%;
        padding-top: 20%;
        padding-right: 15%;
        font-size: 6vw;
        text-align: center;
    }
    .time_purple {
        display: none;
    }
    #hr_purple {
        display: none;
    }
    .right_purple {
        display: flex;
        flex-basis: 35%;
        justify-content: center;
        align-items: center;
    }
    .right_purple img {
        width: 25%;
    }
    #top1 {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    #top2 {
        border-radius: 50%;
        position: absolute;
        z-index: 2;
    }
    #top3 {
        position: relative;
        z-index: 3;
    }
    .white_display {
        display: flex;
        flex-direction: column;
        position: relative;
        font-family: 'Saira Extra Condensed', sans-serif;
        align-items: center;
        background: linear-gradient(to top, white 85%, gray 100%);
        height: 400px;
    }
    .five_day {
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        padding-top: 20px;
    }
    .five_day img {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 55%;
    }
    .days {
        padding-left: 50px;
        padding-right: 60px;
        border-left: 1px solid gray;
    }
    #d1 {
        border: none;
    }
    .current_time_class {
        font-size: 25px;
    }
    .current_temp_class {
        font-size: 75px;
    }
    #current, #current_time {
        font-size: 35px;
    }
    #current_temp {
        font-size: 85px;
    }
    .time_purple_web {
        font-size: 35px;
    }
    .time_and_temp {
        padding-left: 6%;
    }
    #down_arrow {
        display: none;
    }
    footer {
        display: none;
    }
}